html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body{ 
margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	vertical-align:top;
	
	margin-left:5.1em;
	margin-right:5.1em;
	/*margin-left:auto;
	margin-right:auto;*/
}
}
/*#header {
	margin:0px;
	padding:0px;
	width: 1100px;
	height: auto;
	float:left;
}*/

#main_nav{
    position: relative;
    float: left;
    text-align: left;
    width: 230px;
    height: 400px;
    border-bottom: solid 2px #F1F1F1;
    border-right: solid 2px #F1F1F1;
    /*background-color: #AEC3FF;*/
}
#compact_nav{
    position: relative;
    float: left;
    text-align: left;
    width: 100%;
    height: auto;
    /*border-bottom: solid 2px #F1F1F1;
    border-right: solid 2px #F1F1F1;*/
    /*background-color: #AEC3FF;*/
}

.feedbackBox {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
/*    width: 80%;*/
    background: #fff;
    top: 10%;
    left: 25%;
    right: 25%;
    padding: 10px;
    border: 2px solid #888;
}


.loginpanel {
    /*float: right;*/
	/*float: left; clear:both; just changed*/
	
    /*border: 2px solid #AEC3FF;*/
    padding: 0px;/*was 4px*/
	margin: 0px;
	/*padding-left:0;*/
	/*margin-left:0;*/
	width:1100px;
	height:auto;
	display:inline-block;
	float: left;
	/*float: right;*/
	/*float: right; clear:both;*/
}

.button {
    height: 21px;
    width: 45px;
    padding: 2px 2px 2px 2px;
    background-color: #AEC3FF;
    position: relative;
    float: left;
    border: #000 1px solid;
    text-align: center;
}
.form_area{
    height: auto;
    width: auto;
    margin: 0 10px 10px 0px;
    position: relative;
    float: left;
}
.info {
    font-size: 10px;
}
.errorMessage {
    color: #C80000;
    border: 2px solid #c80000;
    background-color: #fee;
    padding: 5px;
}
.infoMessage {
    color: #000;
    border: 2px solid #008;
    background-color: #eef;
    padding: 5px;
}
#navWrapper {
	/*margin: 0px;
	padding: 0px;*/
	/*margin-left:7.5em;
	margin-right:7.5em;*/
	/*margin-left:100px;*/
	/*padding-left:82px;*/
	width:1100px;
	height:auto;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*#navTop {
	width: 264px;
	height: 12px;
	background-color:#666666;
	float:left;
}*/
#navTop {
	width: 1100px;
	height: 12px;
	float:left;clear:both;
}
#firstSpace {
	width: 1095px;
	height: 12px;
	float:left;clear:both;
}
.navContainer{
	/*width: 264px;*/
	/*padding:0px;
	margin:0px;*/
	/*padding:7px 0px 8px 0px;*/
	padding-top:35px;
	padding-right:10px;
	/*padding-right:783px;*/
	width:auto;
	height:auto;
	/*width: 500px;*/
	/*height: 138px;*/
	float:left;
}
#navBar{
	margin:0;
	padding:0;width: 1100px;
	height: auto;
	float:left;clear:both;
	margin-top:12px;
	margin-bottom:12px;
}
#navBar li{
	/*width: 1100px;*/
	height: 15px;
	float:left;
	/*float:left;clear:both;*/
	margin:0;
	padding:0;
	padding-right:30px;
	display:inline;
	/*text-align: center;*/
	/*word-spacing: 5px;*/
	font-size:15px;
	text-decoration: none;
	font-weight: bold;
}
#navBar li a{
	text-decoration: none;
	height:auto;
}

/*.navBodyWrapper{
	width: 864px;
	height:auto;
	float: left; clear:both;
}
#bodyWrapper {
	width: 600px;
	height:auto;
	float:left;
}*/
/*#wrapper {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
	width: 1100px;
	height: auto;
}*/
/*wrapperExtract{
	margin:0px;
	padding-left:10px;
	float: left;clear:left;
	margin-left:10px;
	width: 864px;
	padding: 0;
}*/
	
.wrapper {
	margin:0px;
	padding:0px;
	/*float: left;/*just changed*/
	/*margin-left:auto;
	margin-right:auto;*/
	/*width: 864px;*/
	width: 1100px;
	height: auto;
	/*padding: 0;*/
}
#loginWrapper {
	width: 1100px;
	height:auto;
	float: left; clear: left;
}
#panelWrapper .loginpanel form {
	display: inline;
	width:1100px;
}
#bodyTop{
	width: 600px;
	background-color: #5FC806;
	height: 12px;
	float:left;
}
/*#bodyBanner {
	width: 600px;
	height: 153px;
	float: left;
}*/
#bodyBanner {
	/*width: 600px;
	height: 153px;*/
	/*padding:0px;
	margin:0px;just changed*/
	width:auto;
	/*width:600;*/
	height:auto;
	padding-top:20px;/
	padding-right:783px;
	/*padding-left:317px;*/
	float:left;
	/*float: left;clear:right;*/
}	

/*#navWrapper {
	margin: 0;
	width: 264px;
	height:auto;
	float:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}*/
.bodyTitle {	
	font-size: 18px;
	color: #5FC806;
	padding-left: 10px;
	/*width:inherit;
	height:inherit;*/
	/*padding: 10px;*/
	/*margin: 0 0 10 0;*/
	/*margin: 0 0 0 10px;*/
}
.nav_button {
    position: relative;
    float: left;
    text-align: left;
    /*width: 220px;
    height: 25px;*/
	width:auto;
	height:auto;
    /*padding: 4px 0px 0px 5px;*/
	padding: 5px 5px 5px 5px;
	font-size:13px;
    background-color: #AEC3FF;
    border-style: solid;
    border-color: #F1F1F1;
}

#content {
    position: relative;
    text-align: left;
    float:left;
    width: auto;
    /*padding-left: 10px;*/
}

#content_text{
    position: relative;
    text-align: left;
    float:left;
    width: 525px;
}
/*table, input, textarea, select, li {
    font: 100% Verdana, Arial, Helvetica, Sans-Serif;
    line-height: 160%;
    color: #333;
}*/

form p{
    clear: left;
}

a img {
    border: 0;
}

table.sortable tr.highlightRow {
    background-color: #ddf !important;
}

table.sortable {
    border-spacing: 0;
    border-style: solid;
    border-color: #aaa;
    border-width: 1px;
    border-collapse: separate;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*width: 90%;*/
    margin: 0 auto 10px;
    float: left;
}
table.sortable th, table.sortable td {
    text-align: left;
    padding: 2px 4px 2px 4px;
    /*width: 100px;*/
    border-style: solid;
    border-color: #aaa;
    font-size: 11px;
}
table.sortable th {
    border-width: 1px 0px 1px 0px;
    background-color: #ccc;
}
table.sortable th a {
    text-decoration: none;
    color: #000;
}
table.sortable td {
    /*border-width: 0px;*/
    border-top: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
table.sortable tr:nth-child(odd) {
    background-color: #f8f8f8;
}
table.sortable tr:nth-child(even) {
    background-color: #fff;
}
table.sortable tr.sortbottom td {
    border-width: 1px 0px 1px 0px;
    background-color: #ccc;
    font-weight: bold;
}

/*#header .navBodyWrapper #bodyWrapper .bodyContainer .bodyTitle {
	padding-left: 10px;
}*/
a:hover {
	color: #5FC806;
}
#bottomText{
	float:left;
	width:1100px;
	text-align: center;
}
#bottomImageL{
	width: auto;
	height: 65px;
	float: left;
	margin-left: 80px;
	/*margin-left: 158px*/
}
#bottomImageR{
	width: auto;
	height: 65px;
	float: right;
}
#bottom{
	margin-left:auto;
	margin-right:auto;
	/*width: 864px;*/
	width: 1100px;
	height: auto;
	float: left;clear:both;
	text-align: center;
	background-color: #F7F9F9;
}
#navTop {
	/*width: 264px;//Grey top border
	height: 12px;
	background-color:#666666;*/
	float:left;clear:both;
	width: 1100px;
	height: 12px;
}
#navDivider{
	width: 265px; 
	height: 9px;
	background-color:#666666;
	float:left;
	font-size: 1px;
}
#navBottom{
	/*width: 264px;*/
	width: 367px;
	height: auto;
	float:left;
}
#bodyDivider{
	/*width: 600px;*/
	width: 835px;
	height: 9px;
	background-color: #5FC806;
	float:left;
	font-size: 1px;
}
#bodyBottom{
	/*width: 600px;*/
	width:733px;
	height: auto;
	float:left;
}
